.header {
  display: flex;
  padding: 6px 10px;
  background-color: #000;
}
.header .logo {
  display: inline-block;
  padding: 6px 0px;
}
.header nav {
  text-align: right;
  width: 100%;
  font-style: 0;
}

.header nav a {
  font-style: 16px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 52px;
  padding: 0 10px;
}

.header nav a:hover {
  background-color: #fa0;
}

.banner img {
  width: 100%;
}

.path {
  display: flex;
}

.path li {
  position: relative;
  padding: 6px 8px;
}

.path li a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.path li + li::before {
  content: "/";
  color: #aaa;
  position: absolute;
  left: 0;
}
.wrap {
  width: 960px;
  margin: auto;
}
.about .wrap {
  display: flex;
}

.about .wrap .item {
  width: 300px;
  margin: 0px 10px;
  text-align: center;
}
.about h2 {
  width: 100%;
  text-align: center;
  font-size: 42px;
  padding: 20px 0;
}
